.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 85px;
  width: 350px;
  text-align: center;

  .logoBox {
    margin-bottom: 36px;
  }

  .title {
    color: #737373;
    font-weight: 600;
    margin-top: -20px;
  }

  .loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px 40px 24px;
    border: 1px solid #dbdbdb;

    .form {
      width: 100%;

      .inputBox {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 100%;

        input {
          font-size: 12px;
          padding: 12px 8px;
          border: 1px solid #dbdbdb;
          width: 100%;
          border-radius: 4px;
          background: #fafafa;
        }
        p {
          color: red;
          font-size: 12px;
        }
      }

      .learnMoreBox {
        width: 100%;
        margin-top: 26px;

        p {
          font-size: 12px;
          color: #737373;
          a {
            font-size: 12px;
            color: #00376b;
          }
        }
      }
    }

    .singUpBtn {
      width: 100%;
      border: none;
      background: #0095f6;
      font-weight: 600;
      text-align: center;
      border-radius: 8px;
      padding: 8px;
      color: #fff;
      margin: 24px 0 12px;
      &:hover {
        background: #00376b;
      }
    }
  }

  .regBox {
    width: 350px;
    text-align: center;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    .text {
      padding: 22px 0;
      a {
        font-weight: 600;
        margin-left: 2px;
      }
    }
  }
}

.link {
  position: relative;
  text-decoration: none;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #0095f6;
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}
